*{font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.left{
    
    float: left;
    
}
ul li{
    display: inline-block;
    list-style-type: none;
    margin-top: 15px;
}
.right{

    float: right;
    
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;

}
.google{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%)

}
.round{
    border-radius: 50%;
}
input{
    width: 150%;
    box-shadow: none;
    border-color: blanchedalmond;
    height: 35px;
}
.limar{
    
   padding: 10px;
}
.search{
    

}
.search:hover{
    box-shadow: 1px px 1px #dfdfdf;;
    outline: none;
}
nav div a .right{
    position: ;
}
 nav div a{
    padding: 5px;
    white-space: nowrap;
    text-decoration: none;
    color: #3b3b3b;
    position: ;
}

    .search input {
        width: 90%;
        font-size: 1.6rem;
        width: 50vw;
    max-width: 500px;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    padding: 0 40px;
    font-size: initial;
    margin: 20px;
    outline: none;
      }
